:root {
    --dark-mode-body: #1D1E2C;
    --dark-mode-container: #24263A;
    --dark-mode-text: #DBDFEA;
    --color-profit: #34E4B5;
    --color-loss : #E03A45;
    --color-selected-month: #E03A45;
    --color-prev-month: #894BA9;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Light.otf') format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gilroy", serif;
}

/* Grid page layout */
body {
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);

    margin: 0.9rem;
    gap: 12px;

    color: var(--dark-mode-text);
    background: var(--dark-mode-body);
}

div:not(.main-container) {
    background: var(--dark-mode-container);
}

.sidebar-container {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
}

.navbar-container {
    grid-column-start: 3;
    grid-column: span 8 / span 8;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;

    grid-column-start: 3;
    grid-column: span 8 / span 8;
    grid-row-start: 2;
    grid-row: span 7 / span 7;
}

.user-card {
    grid-row: span 2 / span 2;
}

.user-outlay-graph {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
}

.user-spending-analytics {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 3;
}

.user-income-graph {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
}

.user-latest-transactions {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

/* Sidebar styling */
.sidebar-links-container {
    height: 80%;
}

.sidebar-logo h2 {
    padding-block: 1rem;
    text-align: center;
}

.sidebar-links-list {
    height: 64%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul.sidebar-links-list {
    list-style: none;
}

.sidebar-links-list a {
    text-decoration: none;
    color: inherit;
}

.sidebar-links-list i {
    padding-inline: 1rem;
}

.sidebar-links-list li {
    margin-inline-start: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
}

.sidebar-links-list li:hover {
    background: var(--dark-mode-body);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

/* Navbar styling */
.navbar-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
}

.nav-greeting-wrap {
    display: flex;
    align-items: center;
}

.nav-greeting-wrap img.user-profile-pic {
    padding-right: 0.5rem;
}

.nav-greeting-wrap,
.nav-links-wrap {
    height: 100%;
    width: 50%;
}

.nav-links-list {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    place-content: end;
    list-style: none;
}

/* Main container styling */
.span-profit {
    color: var(--color-profit);
}

.span-loss {
    color: var(--color-loss);
}

.dashboard-total-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.component-title-wrap {
    grid-column: span 3 / span 3;

    display: flex;
    justify-content: space-between;

    padding-top: 0.4rem;
    padding-inline: 0.8rem;

    font-size: 1.1rem;
}

.component-total-result {
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-inline-start: 0.6rem;
    margin-block-end: 1rem;
}

.component-total-result .span-percentage-result {
    font-size: 0.9rem;
}

.component-total-result .span-fiat-result {
    font-weight: bold;
    font-size: 1.2rem;
}

.component-img-wrap {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    grid-row: span 2 / span 2;
}

.component-img-wrap img {
    width: 100%;
}

/* User  card component */
.card-img-wrap {
    height: 88%;

    display: flex;
    justify-content: center;
}

.card-img-wrap img{
    width: 90%;
}

span.total-percent {
    font-size: 0.88rem;
}

/* Outlay Graph Component */
.user-outlay-graph {
    display: grid;
    grid-template-columns: 20px, repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr), 20px;

    padding-block: 1rem;
    padding-inline: 1.5rem;

    font-size: 0.8rem;
}

.outlay-title-wrap {
    grid-column: span 3 / span 3;
    font-size: 1.1rem;
    padding-block: 0.2rem;
    padding-inline: 0.8rem;
}

.month-selection-wrap {
    grid-column: span 3 / span 3;
    grid-column-start: 4;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.month-selection-wrap .input-outlay-month {
    border: none;
    outline: none;

    background: var(--dark-mode-body);
    color: var(--dark-mode-text);

    height: 50%;
    padding: 1rem;
    border-radius: 2rem;
}

.outlay-fiat-range {
    grid-row: span 4 / span 4;
    grid-row-start: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.outlay-img-wrap {
    grid-column: span 5 / span 5;
    grid-row: span 4 / span 4;
    grid-row-start: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.outlay-img-wrap img {
    width: 100%;
}

.outlay-graph-indicators {
    grid-column: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 6;

    display: flex;
    justify-content: space-between;
}

.span-prev-month i {
    color: var(--color-prev-month);
    font-size: 0.5rem;

}

.span-selected-month i {
    color: var(--color-selected-month);
    font-size: 0.5rem;
}

/* Latest transactions component */

.user-latest-transactions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-bottom: 0.8rem;
}

.user-latest-transactions .component-title-wrap,
.field-transaction-wrap {
    padding-block: 0.2rem;
    padding-inline: 0.8rem;
}

.field-transaction-wrap {
    font-size: 0.8rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

hr.divider {
    width: 88%;
    margin: 0 auto;
    border: none; /* Remove default border */
    height: 3.2px;  /* Set thickness */
    background: var(--dark-mode-body);
}