* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
}

div {
    border: 1px solid black;
}

.sidebar-container {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
}

.navbar-container {
    grid-column-start: 3;
    grid-column: span 8 / span 8;
}

.main-container {
    display: grid;
    grid-column-start: 3;
    grid-column: span 8 / span 8;
    grid-row-start: 2;
    grid-row: span 7 / span 7;
}